{erl_opts, [debug_info]}.
{deps, [
  cowboy,
  jsone,
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}}
]}.

{relx, [{release, {todo_app, "0.1.0"},
         [todo_app,
          mnesia,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
